{% extends "skeleton.html" %}
{% block body %}
<script type="text/javascript">
$(document).ready(function() {
    $(".getbackup").click(function(event) {
        var sendData = "";
        $.ajax({
            type: "POST",
            dataType: "json",
            contentType:"application/json; charset=utf-8",
            url: "/device/{{ pagedata['device'].id }}/backupdl",
            data: sendData,
            success: function(result) {
                $("#backuptext").text(result.settings);
            },
            error: function(msg) {
                console.log("%s %s" ,xhr,type);
                return false;
            }
        });
        return false;
    });
});
</script>
<div class="panel panel-default">
<div class="panel-heading">
<a href="/device/{{ pagedata['device'].id }}">{{ pagedata['device'].name }}</a><br />
IP: {{ pagedata['device'].ip }}
</div>

<div class="panel-body">
<form method="post" action="/device/{{ pagedata['device'].id }}/save">

<div class="form-group">
{{ pagedata['form'].title.label }}
<div style="margin-bottom: 25px">
{{ pagedata['form'].title(class="form-control") }}
</div>
</div>

{{ pagedata['form'].backuptext.label }}
<div style="margin-bottom: 25px">
{{ pagedata['form'].backuptext(class="form-control", rows=16) }}
</div>

<button type="button" class="getbackup">Получить настройки с устройства</button>
<button class="btn btn-success">Сохранить</button>
</form>
<p>Ошибка: {{ pagedata['error'] }}</p>
</div>
</div>
{% endblock %}
