{% extends "skeleton.html" %}
{% block body %}

<div class="panel panel-default">
<div class="panel-heading">
<a href="/device/{{ pagedata['device'].id }}">{{ pagedata['device'].name }}</a><br />
IP: {{ pagedata['device'].ip }}
</div>

<div class="panel-body">
<form method="post" action="/device/{{ pagedata['device'].id }}/save">

<div class="form-group">
{{ pagedata['form'].title.label }}
<div style="margin-bottom: 25px">
{{ pagedata['form'].title(class="form-control") }}
</div>
</div>

{{ pagedata['form'].backuptext.label }}
<div style="margin-bottom: 25px">
{{ pagedata['form'].backuptext(class="form-control", rows=16) }}
</div>

<a class="btn btn-default" href="#" onclick="get_backup({{ pagedata['device'].id }})">Получить настройки с устройства</a>
<button class="btn btn-success pull-right" type="submit">Сохранить</button>
</form>
<p>Ошибка: {{ pagedata['error'] }}</p>
</div>
</div>

{% endblock %}
