{% extends "skeleton.html" %}
{% block body %}
<div class="panel panel-default">
<div class="panel-heading">
<div class="pull-right">
    <a class="btn btn-default btn-xs" href="/backup/{{ pagedata['backup'].id }}/edit"><i class="fa fa-edit"></i></a>
    <a class="btn btn-danger btn-xs" href="/backup/{{ pagedata['backup'].id }}/delete"><i class="fa fa-remove"></i></a>
</div>
Конфигурация {{ pagedata['backup'].id }} от {{ pagedata['backup'].created.strftime('%Y-%m-%d %H-%M') }}<br />
Устройство: <a href="/device/{{ pagedata['backup'].device_id }}">{{ pagedata['backup'].device.name }}</a>
</div>
<div class="panel-body">
    <pre>{{ pagedata['backup'].text }}</pre>
</div>
</div>

{% include 'scroll.html' %}

{% endblock %}
