{% extends "skeleton.html" %}
{% block body %}
<div class="box">
<form method="post" action="/device/add">
<div class="faq-form-title">{{ pagedata['form'].devicename.label }}:</div>
{{ pagedata['form'].devicename(class_="faq-form-input") }}
<br/>
<div class="faq-form-title">{{ pagedata['form'].ip.label }}:</div>
{{ pagedata['form'].ip(class_="faq-form-input") }}
<br/>
<div class="faq-form-title">{{ pagedata['form'].username.label }}:</div>
{{ pagedata['form'].username(class_="faq-form-input") }}
<br/>
<div class="faq-form-title">{{ pagedata['form'].password.label }}:</div>
{{ pagedata['form'].password(class_="faq-form-input") }}
<br/>
<div class="faq-form-title">{{ pagedata['form'].sn.label }}:</div>
{{ pagedata['form'].sn(class_="faq-form-input") }}
<br/>
<button class="faq-form-input">Отправить</button>
</form>
</div>
{% endblock %}
