{% extends "skeleton.html" %}
{% block body %}
<div class="panel panel-default">
<div class="panel-heading">
<a class="btn btn-success btn-xs pull-right" href="/device/add"><i class="fa fa-plus"></i> Добавить устройство</a>
Список устройств</div>
<div class="panel-body">


<table class="table">
<tr><th>#</th><th>Название</th><th>Количество</th><th>Действия</th></tr>
{% for item in pagedata['devices'] %}
<tr>
<td>
<a href="/device/{{ item.id }}">{{ item.id }}</a>
</td>
<td>
<a href="/device/{{ item.id }}">{{ item.name }}</a>
</td>
<td>
{{ item.backups|length }}
</td>
<td>
    <a class="btn btn-default btn-xs" href="/device/{{ item.id }}/edit"><i class="fa fa-edit"></i></a>
    <a class="btn btn-danger btn-xs" href="/device/{{ item.id }}/delete"><i class="fa fa-remove"></i></a>
</td>
</tr>
{% endfor %}
</div>
</div>
{% endblock %}
