{% extends "skeleton.html" %}
{% block body %}
<div class="panel panel-default">
<div class="panel-heading">Редактирование данных устройства {{ pagedata['device'].name }}</div>

<div class="panel-body">
<form method="post" action="/device/{{ pagedata['device'].id }}/edit">

<div class="form-group">
{{ pagedata['form'].devicename.label }}
<div style="margin-bottom: 25px">
{{ pagedata['form'].devicename(class="form-control") }}
</div>
</div>

<div class="form-group">
{{ pagedata['form'].ip.label }}
<div style="margin-bottom: 25px">
{{ pagedata['form'].ip(class="form-control") }}
</div>
</div>

<div class="form-group">
{{ pagedata['form'].username.label }}
<div style="margin-bottom: 25px">
{{ pagedata['form'].username(class="form-control") }}
</div>
</div>

<div class="form-group">
{{ pagedata['form'].password.label }}
<div style="margin-bottom: 25px">
{{ pagedata['form'].password(class="form-control") }}
</div>
</div>

<div class="form-group">
{{ pagedata['form'].sn.label }}
<div style="margin-bottom: 25px">
{{ pagedata['form'].sn(class="form-control") }}
</div>
</div>

<button class="btn btn-success">Сохранить</button>
</form>
</div>
</div>
{% endblock %}
