<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="author" content="Ремизов Александр" />
    <meta name="copyright" lang="ru" content="RemiZOffAlex" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='menu.css')}}" />
    <script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js')}}"></script>
    <title></title>
</head>
