auto {{ iface }}:{{ i }}
{% if net.version == 'v4' %}iface {{ iface }}:{{ i }} inet static
	address {{ net.Address }}
	netmask {{ net.Netmask }}
{% elif net.version == 'v6' %}iface {{ iface }}:{{ i }} inet6 static
	address {{ net.Address }}
	netmask {{ net.Netmask }}
{% endif %}
