body {
    padding-left: 200px important;
}
.wrapper {
    margin-left: 250px;
    margin-bottom: 20px;
}
.sidebar-left {
    float:left;
    width: 200px;
    margin-bottom: 20px;
}
.silver {
    background: #3030A0;
    background: linear-gradient(#fcfcfc, #e5e5e5, #e0e0e0);
}
